<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ride</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="/stylesheet" rel="stylesheet">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            riderData().then(response => {
                let riders = document.querySelectorAll(".rider");
                for (let i = 0; i < riders.length; i++)
                {
                    riders[i].addEventListener("click", function()
                    {
                        document.querySelector("#updateRider").innerHTML = riders[i].innerText;
                        document.querySelector("#driverCont").style.cssText = "visibility:visible;";
                        fetch("/passengersDetailed").then(function(response) {
                            return response.json();
                        }).then(function(data) {
                            for (let j=0; j<data.length; j++) {
                                if (data[j].name == riders[i].innerText){
                                    document.querySelector("#toAddr").innerHTML = data[j].toAddr;  
                                    document.querySelector("#fromAddr").innerHTML = data[j].fromAddr;  
                                }
                            }
                        });
                    })
                };
            });

            driverData().then(response => {
                let drivers = document.querySelectorAll(".driver");
                for (let i = 0; i < drivers.length; i++)
                {
                    drivers[i].addEventListener("click", function()
                    {
                        document.querySelector("#updateDriver").innerHTML = drivers[i].innerText;
                    });
                };
            });
        })
        // Riders
        function riderData() {
            return fetch("/passengers")
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                data.forEach(function(data) {
                    var $button = $("<button>" + data.name + "</button>");
                    $button.addClass("rider");
                    $button.appendTo("#riderCont");
                });
            })
            .catch(function (err) {
                console.log(err);
            });
        }
        
        // Drivers 
        function driverData() {
            return fetch("/driversjson")
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                data.forEach(function(data) {
                    var $button = $("<button>" + data.name + "</button>");
                    $button.addClass("driver");
                    $button.appendTo("#driverCont");
                });
            })
            .catch(function (err) {
                console.log(err);
            });
        }
    </script>
</head>
<body>
    <div class="sticky-header">
        <h1>WELCOME</h1>
        <label id="result"></label>
    </div>
    <div class="container">
        <div class="contents">
            <div class="description">
                <table class="centerTable">
                    <th>Trip Information</th>
                    <tr>
                        <td>Passenger Name:</td>
                        <td id="updateRider">-</td>
                    </tr>
                    <tr>
                        <td>To:</td>
                        <td id="toAddr">-</td>
                    </tr>
                    <tr>
                        <td>From:</td>
                        <td id="fromAddr">-</td>
                    </tr>
                    <tr>
                        <td>Driver Name:</td>
                        <td id="updateDriver">-</td>
                    </tr>
                    <tr>
                        <td>Trip Fare:</td>
                        <td>$25.40</td>
                    </tr>
                </table>
            </div>
            <div class="selection">
                <div id="riderCont" class="col">
                </div>
                <div id="driverCont" class="col">
                </div>
            </div>
        </div>
        <div class="map">
            {{ f_map | safe }}
        </div>
    </div>
</body>
</html>
